.grid {
    display: grid;
 grid-template-columns: repeat(3, 1fr); /* повторение 3 колонки по одной фракции*/
grid-gap: 20px; /* Отступы между грид сегментами */
}

.grid div {
    background-color: aqua;
    border: 2px solid blue;
    border-radius: 5px;
    text-align: center;
}